* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    width: 100%;
    height: 100%;
    
}

 body{
    background-color: rgb(245, 208, 78);
}

.card {
    max-width: 320px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    /* align-content: center; */
    /* min-height: 435px; */
    /* margin: 200px auto; */
    padding: 20px;
    box-shadow: 7px 7px black;
    margin:200px auto;
    /* margin: 100px; */

}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.card .text-1 {
    max-width: 70px;
    background-color: rgb(247, 209, 84);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 4%;
    font-weight: bold;

}

.card .text-2 {
    margin-bottom: 6%;
    font-weight: 500;


}

 .card .text-3 {
    margin-bottom: 6%;
    font-size:20px;

}

.card .text-3:hover{
    color: rgb(247, 209, 84);
    cursor: pointer;
}

.card .text-4 {
    margin-bottom: 8%;
    color: rgb(165,165,165);
    font-size: 14px;
    font-weight: 600;

}
 .card .footer {
    /* background-color: rgb(17, 234, 234); */
    display: flex;
    gap: 4%;
    align-items: center;

}

.card .footer img {
    width: 10%;
    /* background-color: orange; */

}

.card .footer span {
    /* width: 10%; */
    /* background-color: rgb(105, 237, 23); */
    font-weight: bold;
 


}